<mat-card>
  <mat-card-title>
    <mat-toolbar class="header">
      <button (click)="changeMonth('previous')" mat-button color="primary">
        <mat-icon fontIcon="chevron_left" />
        Previous
      </button>
      <span>{{ monthNames[month] }} - {{ year }}</span>
      <button (click)="changeMonth('next')" mat-button color="primary">
        Next
        <mat-icon fontIcon="chevron_right" iconPositionEnd />
      </button>
    </mat-toolbar>
  </mat-card-title>
  <mat-card-content class="no-padding">
    <mat-card class="calendar-table" cdkDropListGroup>
      <mat-card
        *ngFor="let day of [0, 1, 2, 3, 4, 5, 6]"
        class="calendar-header"
        >{{ daysOfWeek[day] }}</mat-card
      >
      <mat-card
        cdkDropList
        *ngFor="let day of days"
        (cdkDropListDropped)="drop($event, day)"
        class="calendar-day"
        (click)="selectDate(day)"
        [ngClass]="{
          selected:
            day.setHours(0, 0, 0, 0) === selectedDate.setHours(0, 0, 0, 0)
        }"
      >
        <div class="calendar-day-header">
          <span
            [ngClass]="{ weekend: day.getDay() === 0 || day.getDay() === 6 }"
          >
            {{ day.getUTCDate() }}
          </span>
        </div>
        <div *ngIf="dateEvents(day).length > 0" class="calendar-day-content">
          <div
            *ngFor="let event of dateEvents(day)"
            cdkDrag
            [cdkDragData]="event.id"
            class="calendar-day-event"
            [style.background-color]="eventBackgroundColor(event.color)"
          >
            <span>{{ event.title }}</span>
            <span>
              {{ event.startDate | date : 'shortTime' }}
            </span>
          </div>
        </div>
      </mat-card>
    </mat-card>
  </mat-card-content>
</mat-card>
